.contact {
  padding: 130px 0 50px;

  h1 {
    padding-left: 200px;
    margin-bottom: 70px;
  }

  form {
    label {
      position: relative;
      display: block;

      span {
        position: absolute;
        top: 35px;
        left: 170px;
        z-index: 2;
      }

      input {
        border-top: 1px solid rgba(#000, 0.8);
      }

      &:last-of-type {
        margin-bottom: 130px;

        input {
          border-bottom: 1px solid rgba(#000, 0.8);
        }
      }
    }

    input {
      display: block;
      font-family: 'SF Pro Display';
      font-size: 72px;
      padding: 15px 200px 20px;
      width: 100%;

      box-shadow: none;
      outline: none;
      border: none;

      &::placeholder {
        color: #000;
      }
    }

    button {
      position: relative;
      background-color: #000;
      color: #fff;
      width: 100%;
      font-size: 72px;
      padding: 15px 200px 20px;
      text-align: left;
      box-shadow: none;
      border: none;

      cursor: pointer;

      span {
        position: absolute;
        top: 35px;
        left: 170px;
        z-index: 2;
        font-size: 16px;
      }
    }
  }
}
